:root {
    /* PRIMARY COLOR */
    --info: #337ab7;
    --warning: #f37f2b;
    --premium: #e9b537;
    --danger: #e4454d;
    --primary: #5a9449;
    /* SHADE OF GREY */
    --black: #2a2a2a;
    --dark-grey: #565656;
    --medium-grey: #d6d6d6;
    --light-grey: #e8e8e8;
    /* FONT FAMILIES */
    --default-font-familly: 'Open Sans', 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --header-font-familly: 'Monsterrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* FONT WEIGHTS */
    --bold: 700;
    --semi-bold: 600;
    --regular: 400;
}

