<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Papatissier-Agricole{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <h1 class="title">Papatissier-Agricole</h1>
            </header>
        {% endblock %}
        
        {% block body %}

        {% endblock %}

        {% block footer %}
            <footer>
                <nav>
                    <ul class="nav-list">
                        <li class="container_footer-link">
                            <a href="" class="footer-link">Qui sommes-nous</a>
                        </li>
                        <li class="container_footer-link">
                            <a href="" class="footer-link">Contactez-nous</a>
                        </li>
                    </ul>
                </nav>
            </footer>

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
